<div class="alert alert-danger alert-dismissable" ng-show="alert.error">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{alert.text}}
</div>
<div class="alert alert-success alert-dismissable" ng-show="alert.success" >
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{alert.text}}
</div>
<div class="alert alert-info alert-dismissable" ng-show="alert.info" >
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{alert.text}}
</div>
<div class="alert alert-warning alert-dismissable" ng-show="alert.warning" >
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{alert.text}}
</div>